<section class="timeline">

    <div class="title-wrapper">
        <div class="icon-box">
            <ion-icon name="book-outline"></ion-icon>
        </div>

        <h3 class="h3">Publications and Preprints</h3>
    </div>

    <ol class="timeline-list">

        <li class="timeline-item">

            <h4 class="h4 timeline-item-title">Publication long title...</h4>

            <span>2007 — 2008</span>

            <p class="timeline-text">
                Author names goes here.
            </p>

        </li>

        <li class="timeline-item">

            <h4 class="h4 timeline-item-title">Publication long title...</h4>

            <span>2007 — 2008</span>

            <p class="timeline-text">
                Author names goes here.
            </p>

        </li>

        <li class="timeline-item">

            <h4 class="h4 timeline-item-title">High school of art and design</h4>

            <span>2002 — 2004</span>

            <p class="timeline-text">
                Duis aute irure dolor in reprehenderit in voluptate, quila voluptas mag odit aut fugit, sed
                consequuntur
                magni dolores
                eos.
            </p>

        </li>

    </ol>

</section>